<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" name="CouponsTest">
        <classes>
            <class name="scripts.CouponsTest">
                <methods>
                    <include name="TC_API_COUPON_001_AddCouponAsOwner"/>
                    <include name="TC_API_COUPON_002_AddCouponWithPercentageDiscount"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" name="JSONPathTest">
        <classes>
            <class name="scripts.JSONPathTest">
                <methods>
                    <include name="m1"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" name="MultiProfileTest">
        <classes>
            <class name="scripts.MultiProfileTest">
                <methods>
                    <include name="TC_API_E2E_MP_01"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" name="OrderPlaceTest">
        <classes>
            <class name="scripts.OrderPlaceTest">
                <methods>
                    <include name="placeOrderAsUser"/>
                    <include name="verifySortingOfTable"/>
                    <include name="displayAllOrdersTest"/>
                    <include name="retrieveAndIterateOrdersTest"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" name="RefundTest">
        <classes>
            <class name="scripts.RefundTest">
                <methods>
                    <include name="refundTestApproved"/>
                    <include name="refundTestRejected"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" name="RestaurantTest">
        <classes>
            <class name="scripts.RestaurantTest">
                <methods>
                    <include name="TC_API_ORD_05"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>